body {
  padding-top: 60px;
}

.page-header {
  position: relative;
}

#resultsWindow {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  margin: 0;
}

#resultsWindow .modal-body {
  max-height: 100%;
}

#resultsWindow iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#viewResultsButton {
  position: absolute;
  top: 0;
  right: 100px;
}

#tutorialRunButton {
  position: absolute;
  top: 0;
  right: 0;
}

.step-file {
  display: inline-block;
  padding: 3px 7px 5px 5px;
  font-size: 12px;
  color: white;
  background: #232323;
}

.step-editor {
  position: relative;
  margin-bottom: 20px;
}

.step-editor .django-ace-widget {
  width: 100%;
}

.step-info h1 {
  margin-bottom: 15px;
}

.btn.loading {
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(0, 0, 0, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.1)), color-stop(0.75, rgba(0, 0, 0, 0.1)), color-stop(0.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
     -moz-background-size: 50px 50px;
          background-size: 50px 50px;
  -webkit-animation: animate-stripes 2s linear infinite;
}

.step-console {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 0;
}

.step-console.console-only {
  height: 500px;
}

/* The console container element */

#tutorialConsole {
  /* The cursor. */

  /* The cursor color when the console looses focus. */

  /* The current prompt text color */

  /* The command history */

  /* The text color when in input mode. */

  /* Previously entered input. */

  /* The text color of the output. */

}

#tutorialConsole pre {
  color: white;
  background-color: black;
}

#tutorialConsole .jqconsole-cursor {
  background-color: gray;
}

#tutorialConsole .jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}

#tutorialConsole .jqconsole-old-prompt {
  font-weight: normal;
}

#tutorialConsole .jqconsole-input {
  color: #dd0;
}

#tutorialConsole .jqconsole-old-input {
  font-weight: normal;
}

#tutorialConsole .jqconsole-output {
  color: white;
}

@-webkit-keyframes animate-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -50px 0;
  }
}
