{% extends "base.html" %}

{% block container %}
<div class="row">
    <div class="span6">
        <h1> Step 1 of 5: Django Models </h1>
        <br>
        <a href="#" class="btn btn-large">View results</a>
        <br><br>
        <div class="step-description">
        </div>
    </div>
    <div class="span6">
        <div class="step-editor">
            {{ editor_form }}
        </div>
        <div class="step-run-buttons" id="tutorialRunButton">
            <button class="cls btn-success btn-large">Run</button>
        </div>
        <div class="step-console">
        </div>
    </div>
</div>
{% endblock %}

{% block media_extra %}
    {{ block.super }}
    {{ editor_form.media }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tutorial.js"></script>
{% endblock %}
