{% extends "base.html" %}

{% block container %}
{% csrf_token %}
<div class="row">
    <div class="span6">
        <h1> Step {{ step.num }} of {{ tutorial.steps_count }}: {{ step.title }}</h1>
        <br>
        <a href="#" class="btn btn-large">View results</a>
        <br><br>
        <div class="step-description">
            {{ step.description }}
        </div>
    </div>
    <div class="span6">
        <div class="step-editor">
            {{ editor_form }}
        </div>
        <div class="step-run-buttons">
            <button class="btn btn-success btn-large"  id="tutorialRunButton"><i class="icon-play icon-white"></i> Run</button>
        </div>
        <div class="step-console">
        </div>
    </div>
</div>
{% endblock %}

{% block media_extra %}
    {{ block.super }}
    {{ editor_form.media }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tutorial.js"></script>
    <script type="text/javascript">
        var tutorial;
        $(function () {
            tutorial = new Tutorial({
                id: {{tutorial.id}},
                step: {{step.num}},
            });
        });
    </script>
{% endblock %}
