{% extends "base.html" %}

{% block container %}
{% csrf_token %}
<div class="page-header">
    <h1>Step {{ step.num }} of {{ tutorial.steps_count }}: {{ step.title }}</h1>
    <button class="btn btn-large btn-primary hide" id="viewResultsButton">View results</button>
    <button class="btn btn-success btn-large"  id="tutorialRunButton"><i class="icon-play icon-white"></i> Run</button>
</div>
<!-- result modal dialog -->
<div class="modal hide" id="resultsWindow">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Your Django Site</h3>
  </div>
  <div class="modal-body">
    <iframe src="{{ results_url }}"></iframe>
  </div>
</div>
<!-- end -->

<div class="row">
    <div class="span6 step-info">
        <div class="step-description">
            {{ step.description|safe }}
        </div>
        <div class="step-buttons">
            <a href="{{ next_url }}" class="btn btn-large" id="tutorialNextButton"><i class="icon-arrow-right"></i> Next</a>
        </div>
    </div>
    <div class="span6">
        <div class="step-editor">
            <div class="step-file">{{ step.file_path }}</div>
            {{ editor_form.code }}
        </div>
        <div class="step-console">
            <div  id="tutorialConsole"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block media_extra %}
    {{ block.super }}
    {{ editor_form.media }}
    <link href="{{ STATIC_URL }}css/ansi.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqconsole-2.7.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tutorial.js"></script>
    <script type="text/javascript">
        var tutorial;
        $(function () {
            tutorial = new Tutorial({
                id: {{tutorial.id}},
                step: {{step.num}},
            });
        });
    </script>
{% endblock %}
